@import '../../styles/vars';
.settings {
    .settings_container{
        padding: 1rem 1.2rem;
    }
    section {
        margin-bottom: 1.8rem;
        .section_heading{
            font-size: 0.95rem;
            color: $secondary-inactive-color;
        }
        .section_item{
            font-size: 1.15rem;
            margin: .8rem 0;
        }
    }
}
.section_item + .section_item {
    margin-top: 15px!important;
}
.btn_container{
    margin-top: 50px;
    text-align: center;
}
div + #account_section{
    margin-top: 20px;
}
.flex{
    display: flex;
    align-items: center;
    .flex_1{
        text-align: left;
        flex-grow: 1;
    }
}
#account_section{
    .flex{
        .flex_1{
            margin-left: 16px;
        }
    }
    .name{
        font-size: 1.2rem;
    }
    .email{
        font-size: 1rem;
        color: $primary-inactive-color;
    }
    .more_btn{
        border: none;
        background: transparent;
        font-size: 1.15rem;
    }
}