.avatar{
    border-radius: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #FFEE53;
    &.transparent{
        background-color: transparent;
    }
    &.sm{
        width: 3.5rem;
        height: 3.5rem;
    }
    &.lg{
        width: 9.375rem;
        height: 9.375rem;
    }
    &.md{
        width: 7.813rem;
        height: 7.813rem;
    }
    &__img{
        max-width: 100%;
        max-height: 100%;
        user-select: none;
    }
}