@import '../../styles/vars';
.error-container{
    text-align: center;
    padding: 25px;
    .error-image{
        img{
            max-width: 100%;
        }
    }
    .error-body{
        color: $primary-inactive-color;
    }
    .btn-container{
        margin-top: 30px;
    }
}