@import "../styles/vars";
.app {
    .main {
        overflow-y: auto;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        position: relative;
        min-height: calc(100vh - 316px);
        width: 100%;
        background-color: rgba(182, 220, 255, 0.75);
        .contact-list__container {
            padding: 30px 25px;
        }
    }
}
.search {
    &-form {
        padding: 15px;
    }
}
.profile {
    &_avatar_wrapper {
        text-align: center;
    }
    .small_text {
        margin-top: 10px;
        text-align: center;
        a {
            color: $secondary-active-color;
        }
    }
    &__container {
        text-align: center;
        .title {
            margin-bottom: 5px;
        }
        .text-body {
            color: $primary-inactive-color;
            margin-top: 5px;
        }
        .bd-card {
            margin-top: 30px;
        }
    }
}
.add {
    &-form {
        text-align: center;
        .errmsg-container {
            margin-bottom: 25px;
        }
        fieldset {
            text-align: center;
            .edit-button {
                background: none;
                font-size: 1.063rem;
                border: none;
                font-family: $font-family;
                margin-left: -23px;
            }
        }
    }
}
.edit {
    &-form {
        text-align: center;
        .errmsg-container {
            margin-bottom: 25px;
        }
        fieldset {
            text-align: center;
            .edit-button {
                background: none;
                font-size: 1.063rem;
                border: none;
                font-family: $font-family;
                margin-left: -23px;
            }
        }
    }
}
.login {
    height: 100%;
    .login-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-container {
            margin: auto;
            height: 100px;
            width: 100px;
        }
        .text-container {
            margin-bottom: 50px;
            .text-secondary {
                color: darken($primary-inactive-color, 30%);
            }
        }
    }
}
.settings {
    section {
        margin-bottom: 1.8rem;
        .section-heading{
            color: $primary-inactive-color;
        }
        .section-item{
            margin: .8rem 0;
        }
    }
}

.button-container {
    text-align: center;
    margin-top: 50px;
}
.text-center {
    text-align: center;
}
.avatar-container {
    text-align: center;
    width: auto;
    height: auto;
    display: inline-block;
}
.no-decoration {
    text-decoration: none;
}
