@import '../../styles/vars';
.search_bar{
    background: rgba(222, 222, 222, 0.47);
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    padding: 0.9rem;
    display: inline-block;
    input{
        outline: none;
        border: none;
        font-family: $font-family;
        font-size: 1rem;
        background-color: transparent;
        width: calc(100% - 3.125rem);
        &::placeholder{
            color: $secondary-inactive-color;
        }
        &::-webkit-search-cancel-button{
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times.svg) no-repeat 50% 50%;
            background-size: contain;
            opacity: 0;
            pointer-events: none;  
        }
        &:focus::-webkit-search-cancel-button {
            opacity: .5;
            pointer-events: all;
        }
    }
    span{
        margin-right: 0.938rem;
        font-size: 1rem;
        color: $secondary-inactive-color;
    }

}