@import '../../styles/vars';
.profile {
    .app_bar{
        display: flex;
        align-items: center;
        .main_btn{
            flex-grow: 1;
            text-align: left;
        }
        .menu_container{
            margin-right: 26px;
            .menu_action{
                background: none;
                font-size: 30px;
                border: none;
            }
            .menu_wrapper{
                right: 24px;
                position: absolute;
            }
        }
    }
    &_avatar_wrapper {
        text-align: center;
    }
    &_container {
        text-align: center;
        .text_title {
            margin-bottom: 5px;
        }
        .text_body {
            color: $primary-inactive-color;
            margin-top: 5px;
        }
        .card_container {
            margin-top: 30px;
        }
    }
    .avatar_container {
        text-align: center;
        width: auto;
        height: auto;
        display: inline-block;
    }
}