@import '../../styles/vars';
.contact-item {
    background-color: $secondary-active-color;
    padding: 0.313rem 0.625rem;
    margin: 0.938rem 0rem;
    &__text-container {
        color: #fff;
        margin-left: 12px;
        flex-grow: 1;
        .text-title {
            font-size: 1.25rem;
            max-width: 170px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .text {
            font-size: 0.813rem;
        }
    }
    .bd__text{
        color: #fff;
        padding: 0px 10px;
    }
    &__right-icon {
        width: 37px;
        height: 40px;
        margin-right: 0.625rem;
    }
}
