@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: 'gilroy';
  src: url('../assets/fonts/gilroy-extrabold.woff') format('woff2'),
       url('../assets/fonts/gilroy-extrabold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}