@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
    font-family: 'gilroy-extrabold';
    src: url('/assets/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('/assets/fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}