$font-family: Gilroy;
$primary-active-color: #fc5e5e;
$secondary-active-color: #53ABFD;
$bg-light:  #fbfbfb;
$sky-blue: #6293BF;
$black: #130f26;
$primary-inactive-color: #AEAEAE;
$secondary-inactive-color: #B5B5B5;
