$font-family: gilroy-extrabold;
$primary-active-color: #fc5e5e;
$secondary-active-color: #53ABFD;
$body-color:  #fbfbfb;
$sky-blue: #6293BF;
$font-color: #130f26;
$primary-inactive-color: #6d6d6d;
$secondary-inactive-color: #aeaeae;
