.avatar{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    &.lg{
        width: 9.375rem;
        height: 9.375rem;
    }
    &.md{
        width: 7.813rem;
        height: 7.813rem;
    }
    &__img{
        max-width: 100%;
        max-height: 100%;
        margin-top: 0.625rem;
    }
}