.main{
    overflow-y: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    height: calc(100% - 310px);
    width: 100%;
    background-color: rgba(182, 220, 255, 0.75);
    padding-bottom: 80px;
}