.search-bar{
    background: rgba(222, 222, 222, 0.47);
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    padding: 0.9rem;
    display: inline-block;
    input{
        outline: none;
        border: none;
        font-family: $font-family;
        font-size: 1.063rem;
        background-color: transparent;
        width: calc(100% - 3.125rem);
        &::placeholder{
            color: $primary-inactive-color;
        }
    }
    span{
        margin-right: 0.938rem;
        font-size: 1.063rem;
        color: $primary-inactive-color;
    }

}