@import "./vars";
.text-center {
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-primary {
    color: $primary-active-color;
}
.text-secondary {
    color: $secondary-active-color;
}
.text-inactive{
    color: $primary-inactive-color;
}
.text-sky-blue{
    color: $sky-blue;
}
.text-white{
    color: #fff;
}
.bg-secondary {
    background-color: $secondary-active-color;
}
.bg-white {
    background-color: #fff;
}
.m-auto {
    margin: auto;
}
.no-decoration {
    text-decoration: none;
}
@for $i from 1 through 20 {
    .py-#{$i} {
        padding-top: $i * 5px;
        padding-bottom: $i * 5px;
    }
    .px-#{$i} {
        padding-left: $i * 5px;
        padding-right: $i * 5px;
    }
    .pl-#{$i} {
        padding-left: $i * 5px;
    }
    .pr-#{$i} {
        padding-right: $i * 5px;
    }
    .pt-#{$i} {
        padding-top: $i * 5px;
    }
    .pb-#{$i} {
        padding-bottom: $i * 5px;
    }
    .p-#{$i}{
        padding: $i * 5px;
    }
    .my-#{$i} {
        margin-top: $i * 5px;
        margin-bottom: $i * 5px;
    }
    .mx-#{$i} {
        margin-left: $i * 5px;
        margin-right: $i * 5px;
    }
    .ml-#{$i} {
        margin-left: $i * 5px;
    }
    .mr-#{$i} {
        margin-right: $i * 5px;
    }
    .mt-#{$i} {
        margin-top: $i * 5px;
    }
    .mb-#{$i} {
        margin-bottom: $i * 5px;
    }
}
.mw-100{
    max-width: 100%;
}
.w-65{
    width: 65%;
}
.flex-grow-1{
    flex-grow: 1;
}