$colors:  #FF792D, #FC5E5E, #6CC04A, #53ABFD;
$d: 175.6449737548828;
.loader {
    width: 64px;
    height: 64px;
    animation: contanim 2s linear infinite;
    margin: auto;
    svg {
        width: 100%;
        height: 100%;

        left: 0;
        top: 0;
        position: absolute;

        transform: rotate(-90deg);

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) circle {
                stroke: nth($colors, $i);
                stroke-dasharray: 1, 300;
                stroke-dashoffset: 0;
                animation: strokeanim 3s calc(0.2s * (#{$i})) ease infinite;
                transform-origin: center center;
            }
        }
    }
}

@keyframes strokeanim {
    0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -$d / 3;
    }
    100% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -$d;
    }
}

@keyframes contanim {
    100% {
        transform: rotate(360deg);
    }
}
